﻿<!DOCTYPE html>
<html ng-app="shopAdmin">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopcuatoi</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link href="~/admin/css/admin-core.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/admin/css/admin-core.min.css" asp-append-version="true"/>
    </environment>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet"/>
    <link href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="~/lib/summernote/summernote.css" rel="stylesheet" />
    <link href="~/admin/css/admin-core.css" rel="stylesheet"/>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/summernote/summernote.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-smart-table/smart-table.js"></script>
    <script src="~/lib/ng-file-upload/ng-file-upload.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-summernote/angular-summernote.js"></script>

    <script src="~/admin/app/admin-app.js"></script>
    <script src="~/admin/app/common/common.js"></script>
    <script src="~/admin/app/common/summernoteservice.js"></script>
    <script src="~/admin/app/common/isolatesubform.js"></script>
    <script src="~/admin/app/dashboard/dashboard.module.js"></script>

    <script src="~/admin/app/user/user.module.js"></script>
    <script src="~/admin/app/user/user-service.js"></script>
    <script src="~/admin/app/user/user-list.js"></script>

    <script src="~/admin/app/category/category.module.js"></script>
    <script src="~/admin/app/category/category-service.js"></script>
    <script src="~/admin/app/category/category-list.js"></script>
    <script src="~/admin/app/category/category-create.js"></script>
    <script src="~/admin/app/category/category-edit.js"></script>

    <script src="~/admin/app/product/product.module.js"></script>
    <script src="~/admin/app/product/product-service.js"></script>
    <script src="~/admin/app/product/product-list.js"></script>
    <script src="~/admin/app/product/product-form.js"></script>

    <script src="~/admin/app/product-option/product-option.module.js"></script>
    <script src="~/admin/app/product-option/product-option-service.js"></script>
    <script src="~/admin/app/product-option/product-option-list.js"></script>

    <script src="~/admin/app/product-attribute/product-attribute.module.js"></script>
    <script src="~/admin/app/product-attribute/product-attribute-service.js"></script>
    <script src="~/admin/app/product-attribute/product-attribute-list.js"></script>

    <script src="~/admin/app/product-template/product-template.module.js"></script>
    <script src="~/admin/app/product-template/product-template-service.js"></script>
    <script src="~/admin/app/product-template/product-template-list.js"></script>
    <script src="~/admin/app/product-template/product-template-form.js"></script>

    <script src="~/admin/app/brand/brand.module.js"></script>
    <script src="~/admin/app/brand/brand-service.js"></script>
    <script src="~/admin/app/brand/brand-list.js"></script>
    <script src="~/admin/app/brand/brand-create.js"></script>
    <script src="~/admin/app/brand/brand-edit.js"></script>

    <script src="~/admin/app/page/page.module.js"></script>
    <script src="~/admin/app/page/page-service.js"></script>
    <script src="~/admin/app/page/page-list.js"></script>
    <script src="~/admin/app/page/page-create.js"></script>
    <script src="~/admin/app/page/page-edit.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Admin" class="navbar-brand">Shopcuatoi Admin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="user">Users</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="category">Categories</a></li>
                            <li><a ui-sref="brand">Brands</a></li>
                            <li><a ui-sref="product">Products</a></li>
                            <li><a ui-sref="product-option">Product Options</a></li>
                            <li><a ui-sref="product-attribute">Product Attributes</a></li>
                            <li><a ui-sref="product-template">Product Templates</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Content <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="page">Manage Pages</a></li>
                        </ul>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p class="pull-left">&copy; 2016 - Shopcuatoi</p>
            <p class="pull-right">Powered by <a href="http://www.shopcuatoi.com"><strong>Shopcuatoi</strong></a></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
