﻿/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.main-nav .navbar-collapse {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

li.nav-item-group, li.nav-item-group a {
    font-weight: bold;
}

.footer-content {
    margin-top: 30px;
    background-color: #eee;
}

.footer-content hr {
    border-color: #ddd;
}
.breadcrumb {
    background-color: #FFFFFF;
    padding: 0;
}

.cart-badge {
    position: relative;
    margin-left: 20px;
    padding-top: 8px;
    padding-right: 18px;
}

.cart-badge i {
    color: #687074;
    font-size: 24px;
    min-width: 25px;
}

.cart-badge span.badge {
    top: 0;
    right: 5px;
    position: absolute;
    background: red;
}

.product-list a:hover {
    text-decoration: none;
}

.product-list .product-price {
    color: red;
}

.product-list .thumbnail:hover {
    border-color: #337ab7;
}

.product-list .buttons {
    padding: 9px;
}

.product-list-filters h3 {
    margin-top: 27px;
}

#accordion-brand ul{
    padding-left: 30px;
}

#priceSlider {
    margin: 17px
}

#minPrice {
    width: 110px;
    float: left;
}

#maxPrice {
    width: 110px;
    float: right;
    text-align: right;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}
    .category-result .badge-results {
        top: 26px;
        color: #fff;
        font-size: 12px;
        padding: 3px 8px;
        position: relative;
        background: #c9253c;
    }
.product-list-display-options {
    margin-top: 14px;
}

.product-list-display-options label {
    font-weight: normal;
}

.product-list-display-options .show-option {
    float: right;
    padding-right: 0;
}
.product-list-display-options .show-option i {
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 6px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background: #18ba9b;
    display: inline-block;
}

.product-list-display-options .sort-by {
    float: right;
}

.product-list-display-options .pagination-option {
    float: right;
}

.cart-list .product-image {
    width: 120px;
}

.cart-list .product-image img {
    width: 120px;
}
