﻿@using System.Globalization
@model Shopcuatoi.Web.ViewModels.Cart.AddToCartResult

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">The product has been added to your cart</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <img alt="@Model.ProductName" class="img-responsive" src="@Model.ProductImage">
        </div>
        <div class="col-md-6">
            <h4>@Model.ProductName</h4>
            <h6>@Model.VariationName</h6>
        </div>
        <div class="col-md-3">
            @Model.Quantity x @Model.ProductPrice.ToString("N0", new CultureInfo("VN-vi")) VND
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            You have <span class="cart-item-count">@Model.CartItemCount</span> in your cart
        </div>
        <div class="col-md-5">
            Cart subtotal: @Model.CartAmount.ToString("N0", new CultureInfo("VN-vi")) VND
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Continue shopping</button>
    <a href="~/cart" type="button" class="btn btn-default">View cart</a>
</div>
